<div class="media media--transparent media--hover-effect" id="CardProductMedia-Content-{{ section.id }}-{{ card_product.id }}">
  <a href="{{ href_product_url }}" aria-label="{{ card_product.title | escape }}" class="full-unstyled-link">
    {% if f_media %}
      {{
        f_media
        | image_url: width: f_media_width, format: 'webp'
        | image_tag:
          sizes: sizes,
          widths: f_widths,
          loading: loading,
          alt: f_media_alt,
          class: 'motion-reduce',
          style: focal_point_style
      }}
    {% else %}
      {{ 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
  </a>

  {%- if media[1] != null and show_secondary_image -%}
    {%- case media[1].media_type -%}
      {%- when 'image' -%}
        {{
          media[1]
          | image_url: width: media_width, format: 'webp'
          | image_tag:
            sizes: sizes,
            widths: m_widths,
            loading: 'lazy',
            alt: media_alt,
            class: 'motion-reduce',
            id: secondary_media_id,
            style: secondary_focal_point_style
        }}
      {%- when 'video', 'external_video' -%}
        {%- render 'video',
          video: media[1],
          widths: widths,
          sizes: sizes,
          loading: loading,
          disable_controls: true,
          video_autoplay: true,
          video_loop: true,
          video_id: media[1].id,
          section_id: section.id,
          id: secondary_media_id
        -%}
    {%- endcase -%}
  {%- endif -%}
</div>